<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal">
    <h2>Edit {{ type | titlecase }}</h2>
    <form (ngSubmit)="onSave()">

      <div class="form-row">
        <div class="form-group">
          <label>User:</label>
          <app-user-dropdown
            [styleType]="'form'"
            [placeholder]="'Select user'"
            [selectedUser]="transaction.user?.id"
            (selectedUserChange)="onUserChange($event)">
          </app-user-dropdown>
        </div>

        <div class="form-group">
          <label>Category:</label>
          <app-category-dropdown
            [type]="type"
            [asList]="true"
            [allowAddCategory] = true
            [isInModal]="true"
            [placeholder]="'Select category'"
            [selectedCategory]="transaction.category?.id"
            (selectedCategoryChange)="onCategoryIdChange($event)">
          </app-category-dropdown>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Amount(€):</label>
          <input
            type="number"
            [(ngModel)]="transaction.amount"
            name="amount"
            required
          >
        </div>

        <div class="form-group">
          <label>Date:</label>
          <input
            type="date"
            [(ngModel)]="transaction.date"
            name="date"
            required
          >
        </div>
      </div>

      <label>Description:</label>
      <input
        type="text"
        [(ngModel)]="transaction.description"
        name="description"
      >

      <div class="modal-buttons">
        <button
          type="button"
          (click)="onClose()"
          [disabled]="isLoading"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="isLoading"
        >
          {{ isLoading ? 'Saving...' : 'Save' }}
        </button>
      </div>

    </form>
  </div>
</div>
