<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/summary">Home Budget Application</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/summary">Summary</a></li>
      <li><a routerLink="/incomes">Incomes</a></li>
      <li><a routerLink="/expenses">Expenses</a></li>
      <li><a (click)="toggleCalculator()">Calculator</a></li>
      <li><a routerLink="/settings">Settings</a></li>
      <li><a routerLink="/about">About</a></li>
      <li>
        <app-user-dropdown
          [styleType]="'header'"
          [selectedUser]="activeUser?.id ?? null"
          (selectedUserChange)="onUserChange($event)">
        </app-user-dropdown>
      </li>
    </ul>
  </nav>
</header>

<app-calculator
  [isVisible]="isCalculatorVisible"
  (closeCalculator)="isCalculatorVisible = false">
</app-calculator>
