<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">Home Budget Application</a>
    </div>
    <ul class="nav-links">
      <ng-container *ngIf="authenticatedUser">
        <li><a routerLink="/summary">Summary</a></li>
        <li><a routerLink="/incomes">Income</a></li>
        <li><a routerLink="/expenses">Expense</a></li>
        <li><a (click)="toggleCalculator()">Calculator</a></li>
        <li><a routerLink="/settings">Settings</a></li>
      </ng-container>
      <li><a routerLink="/about">About</a></li>
      <li *ngIf="!authenticatedUser">
        <button class="login-btn" (click)="openLoginModal()">Login</button>
      </li>
      <li *ngIf="authenticatedUser" class="user-info">
        <span class="username">{{ authenticatedUser.username }}</span>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </nav>
</header>

<app-login-modal
  [isVisible]="isLoginModalVisible"
  (close)="isLoginModalVisible = false">
</app-login-modal>

<app-calculator
  [isVisible]="isCalculatorVisible"
  (closeCalculator)="isCalculatorVisible = false">
</app-calculator>
