<!-- FILTER FORM -->
<form>
  <label>
    Year:
    <select [(ngModel)]="filters.year" name="year" (change)="onFilterChange()">
      <option value="">All</option>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </label>

  <label>
    Month:
    <app-month-dropdown
      [selectedMonth]="filters.month"
      (selectedMonthChange)="onMonthChange($event)">
    </app-month-dropdown>
  </label>

  <label>
    User:
    <app-user-dropdown
      [styleType]="'form'"
      [selectedUser]="filters.userId"
      (selectedUserChange)="onUserChange($event)">
    </app-user-dropdown>
  </label>

  <label>
    Category:
    <app-category-dropdown
      [type]="type"
      [(selectedCategory)]="filters.categoryId"
      (selectedCategoryChange)="onCategoryChange($event)">
    </app-category-dropdown>
  </label>

  <!-- SHOW BUTTON ONLY IF FILTERS ARE SET -->
  <button *ngIf="isFilterActive()" type="button" (click)="clearFilters()" class="clear-filters">
    Clear Filters
  </button>
</form>
