<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal">
    <h2>Edit Transaction</h2>
    <form (ngSubmit)="onSave()">

      <label>User:</label>
      <select [(ngModel)]="transaction.user.id" name="user" required>
        <option [ngValue]="null">Select a user</option>
        <option *ngFor="let user of users" [value]="user.id">
          {{ user.username }}
        </option>
      </select>

      <label>Category:</label>
      <app-category-dropdown
        [type]="type"
        [asList]="true"
        [placeholder]="'Select category'"
        [selectedCategory]="transaction.category?.id"
        (selectedCategoryChange)="onCategoryIdChange($event)">
      </app-category-dropdown>

      <label>Amount:</label>
      <input type="number" [(ngModel)]="transaction.amount" name="amount" required/>

      <label>Description:</label>
      <input type="text" [(ngModel)]="transaction.description" name="description"/>

      <div class="modal-buttons">
        <button type="submit" [disabled]="isLoading">
          {{ isLoading ? 'Saving...' : 'Save' }}
        </button>
        <button type="button" (click)="onClose()" [disabled]="isLoading">Cancel</button>
      </div>

    </form>
  </div>
</div>
