<div class="modal-backdrop" *ngIf="isVisible">
  <div class="modal">
    <h2>Edit Transaction</h2>
    <form (ngSubmit)="onSave()">
      <label>User:</label>
      <select [(ngModel)]="transaction.user.id" name="user" required>
        <option [ngValue]="null">Select a user/option>
        <option *ngFor="let user of users" [ngValue]="user.id">
          {{ user.username }}
        </option>
      </select>

      <label>Category:</label>
      <select [(ngModel)]="transaction.category.id" name="category" required>
        <option [ngValue]="null">Select a category</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>


      <label>Amount:</label>
      <input type="number" [(ngModel)]="transaction.amount" name="amount" required/>

      <label>Description:</label>
      <input type="text" [(ngModel)]="transaction.description" name="description"/>

      <div class="modal-buttons">
        <button type="submit" (click)="onSave()" [disabled]="isLoading">
          {{ isLoading ? 'Saving...' : 'Save' }}
        </button>
        <button type="button" (click)="onClose()" [disabled]="isLoading">Cancel</button>
      </div>

    </form>
  </div>
</div>
