<div class="form-container">
  <h2>Add {{ type | titlecase }}</h2>

  <form (submit)="addTransaction()">

    <div class="form-row">
      <div class="form-group">
        <label>User:</label>
        <app-user-dropdown
          [styleType]="'form'"
          (selectedUserChange)="onUserChange($event)">
        </app-user-dropdown>
      </div>

      <div class="form-group">
        <label>Category:</label>
        <app-category-dropdown
          [type]="type"
          [placeholder]="'Choose Category'"
          (selectedCategoryChange)="onCategoryChange($event)">
        </app-category-dropdown>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Amount (€):</label>
        <input type="number" [(ngModel)]="transaction.amount" name="amount" required>
      </div>

      <div class="form-group">
        <label>Date:</label>
        <input type="date" [(ngModel)]="transaction.date" name="date" required>
      </div>
    </div>

    <div class="form-group">
      <label>Description:</label>
      <input type="text" [(ngModel)]="transaction.description" name="description">
    </div>

    <button type="submit">Add {{ type | titlecase }}</button>
  </form>
</div>
