<div class="form-container">
    <h2>Add {{ type | titlecase }}</h2>

    <form (submit)="addTransaction()">

        <app-user-dropdown
          [styleType]="'form'"
          (selectedUserChange)="onUserChange($event)">
        </app-user-dropdown>

      <label>
        Amount (€):
        <input type="number" [(ngModel)]="transaction.amount" name="amount" required>
      </label>

      <label>
        Date:
        <input type="date" [(ngModel)]="transaction.date" name="date" required>
      </label>

<!--      <app-category-dropdown-->
<!--        [type]="type"-->
<!--        [(selectedCategory)]="transaction.category"-->
<!--        (selectedCategoryChange)="onCategoryChange($event)">-->
<!--      </app-category-dropdown>-->

        <label>
            Description:
            <input type="text" [(ngModel)]="transaction.description" name="description">
        </label>

        <button type="submit">Add {{ type | titlecase }}</button>
    </form>
</div>
