<div class="container">
  <div class="container-header">
    <h1 *ngIf="type === 'income'">Incomes</h1>
    <h1 *ngIf="type === 'expense'">Expenses</h1>

    <!-- ADD BUTTON -->
    <button class="add-button" *ngIf="!isFormVisible" (click)="toggleForm()">Add</button>
    <button class="close-button" *ngIf="isFormVisible" (click)="toggleForm()">Close</button>
  </div>

  <!-- ADD FORM -->
  <div *ngIf="isFormVisible">
    <app-transaction-add-form
      [type]="type"
      (transactionAdded)="refreshTable()">
    </app-transaction-add-form>
  </div>

  <!-- 🔍 FILTERS FORM -->
  <app-transaction-filter
    [filters]="filters"
    [years]="years"
    [type]="type"
    (filtersChange)="applyFilters()">
  </app-transaction-filter>

  <!-- 📊 TABLE -->
  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Created</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.user?.username || 'No user' }}</td>
      <td>{{ transaction.date | date:'dd.MM.yyyy' }}</td>
      <td>{{ transaction.category?.name }}</td>
      <td>
        <input *ngIf="transaction.id === selectedTransactionId" type="number" [(ngModel)]="transaction.amount" />
        <span *ngIf="transaction.id !== selectedTransactionId">{{ transaction.amount }} €</span>
      </td>
      <td>{{ transaction.created | date:'dd.MM.yyyy - HH:mm' }}</td>
      <td>
        <input *ngIf="transaction.id === selectedTransactionId" type="text" [(ngModel)]="transaction.description" />
        <span *ngIf="transaction.id !== selectedTransactionId">{{ transaction.description }}</span>
      </td>
      <td class="action-buttons">
        <button class="edit-button" (click)="onEdit(transaction)">
          <i class="fas fa-edit"></i>
        </button>
        <button *ngIf="transaction.id === selectedTransactionId" class="save-button" (click)="onSave(transaction)">
          Save
        </button>
        <button class="delete-button" (click)="onDelete(type, transaction.id)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- 📌 PAGINATION -->
  <div class="pagination">
    <button (click)="changePage(-1)" [disabled]="filters.page === 0">Back</button>
    <span>Page {{ filters.page + 1 }}</span>
    <button (click)="changePage(1)">Next</button>
  </div>

  <!-- 📊 SUMMARY -->
  <div class="summary">
    <p>PageAmount: {{ pageTotal }} EUR</p>
    <p>All Total (with filters): {{ allTotal }} EUR</p>
  </div>
</div>
