<div class="form-container">
    <h2>Add {{ type | titlecase }}</h2>

    <form (submit)="addTransaction()">

<!--        <app-user-dropdown [styleType]="'form'" (selectedUserChange)="onUserChange($event)"></app-user-dropdown>-->

        <label>
            Amount (€):
            <input type="number" name="amount" required>
        </label>

        <label>
            Date:
            <input type="date" [(ngModel)]="transaction.date" name="date" required>
        </label>

        <label>
            Category:
            <input type="text" [(ngModel)]="transaction.category" name="category">
        </label>

        <label>
            Description:
            <input type="text" [(ngModel)]="transaction.description" name="description">
        </label>

        <button type="submit">Add {{ type | titlecase }}</button>
    </form>
</div>
