.financial-summary {
  padding: 20px;
}

.table-section {
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  min-width: 1200px;
  background-color: #ffffff;
}

th, td {
  padding: 12px;
  text-align: right;
  border: 1px solid #ddd;
  white-space: nowrap;
  color: #000;
}

th:first-child, td:first-child {
  text-align: left;
  position: sticky;
  left: 0;
  background-color: inherit;
  z-index: 1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

th {
  background-color: forestgreen !important;
  color: mintcream;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

tbody tr:hover,
tr.total:hover,
tr.monthly-total:hover {
  background-color: #e8f5e9 !important;
}

.total {
  font-weight: bold;
  border-left: 2px solid #ddd;
}

.monthly-total {
  border-top: 2px solid forestgreen;
}

.zero-amount {
  color: #9e9e9e;
}

.positive {
  color: forestgreen !important;
  font-weight: bold;
}

.negative {
  color: #f44336 !important;
  font-weight: bold;
}

h2, h3 {
  color: forestgreen;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
}
