<!-- category-dropdown.component.html -->
<div>
  <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
    <option [value]="null" disabled selected>{{ placeholder }}</option>
    <option *ngIf="allowAddCategory" value="__add__">
      ➕ Add Category
    </option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>
</div>

<app-add-category-modal
  [isVisible]="showAddModal"
  [type]="type"
  (categoryAdded)="onAddCategory($event)"
  (closeModal)="showAddModal = false">
</app-add-category-modal>
